extends layout

block content
  h1 #{title}
  form.my-3(method='POST', action='/articles/add')
    #form-group.mb-3
      label.mb-2 Enter Title :
      br
      input.form-control(name='title', type='text')
    #form-group.none
      input.form-control(name='author', type='text' , placeholder="Enter Author :")
    #form-group.mb-3
      label.mb-2 Enter Content :
      textarea(name='content' , id="editor")
    input.btn.btn-dark(type='submit',value='Submit')
  script.
    CKEDITOR.replace('editor')
