extends layout

block content
  h1 #{title}
  form.my-3(method='POST', action='/articles/add')
    #form-group
      input.form-control(name='title', type='text' , placeholder="Enter Title :")
    #form-group.mb-3
      textarea.form-control(name='content' , id="editor")
    input.btn.btn-dark(type='submit',value='Submit')
  script.
    CKEDITOR.replace('editor')
