extends layout

block content
  h1 #{title}
  form.my-3(method='POST', action='/articles/add')
    #form-group.mb3
      label.mb-2 Title:
      input.form-control.mb-3(name='title', type='text')
    #form-group.mb-3
      label.mb-2 Content:
      textarea.form-control(name='content' , rows="10")
    input.btn.btn-primary(type='submit',value='Submit')
