extends layout

block content
  h1 #{title}
  ul.list-group.my-4
    each article, i in articles
      li.list-group-item
        a.text-dark.text-decoration-none(href="/articles/"+article._id)= article.title 


