extends layout

block content
  .alert.alert-info.my-3
      a.text-decoration-none.mail(href="mailto:adhirajb1109@gmail.com") This app is currently in beta . Please send your feedback at adhirajb1109@gmail.com
  h1 #{title}
  ul.list-group.my-4
    each article, i in articles
      li.list-group-item
        a.text-dark.text-decoration-none(href="/articles/"+article._id)= article.title


