extends layout

block content
  div.border.border-dark.p-3.rounded
    h1 Kids Write
    h2.my-5 Write | Read | Inspire
    h4 Kids Write is a blogging platform for kids , where kids can express themselves and share their knowledge and thoughts with the world . Our mission is to make the imagination of kids to run faster than anything in the universe .
    h4.my-4 If You Like Our Initiative , please star ⭐ the project on 
      a.text-decoration-none(href="https://github.com/AdhirajBhatia/Kids-Write-Blogging-Platform-For-Kids") GitHub 
      | and share it with all the kids so that they can take advantage of this platform and imporve their blogging skills .
  