extends layout

block content
  div
    .info.d-inline.float-start
      h1 Kids Write
      h2.my-3 Write | Read | Inspire
    .decor
      img.d-inline.float-end(src="https://i.ibb.co/qsFQRjf/undraw-blogging-vpvv-removebg-preview.png")
    br
    br
    br
    br
    br
    h4.lh-base Kids Write is a blogging platform for kids , where kids can express themselves and share their knowledge and thoughts with the world .
    a.btn.btn-dark.mt-3.me-2(href="/users/register") Register
    a.btn.btn-dark.mt-3(href="/users/login") Login
