html(lang="en")
  head
    title Kids Write
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    link(rel='icon' href='https://i.ibb.co/Vt9YZRD/crayon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/') 
          img.d-inline-block.align-text-top.me-3(src="https://i.ibb.co/Vt9YZRD/crayon.png" , width="20" height="24") 
          | Kids Write
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Home
            if user
              li.nav-item
                a.nav-link.active(href='/articles/add') Add Article
          ul.nav.navbar-nav.navbar-right
            if user
              li.nav-item.dropdown.me-3
                a#navbarDropdown.nav-link.dropdown-toggle.active(href='/' role='button' data-bs-toggle='dropdown' aria-expanded='false') #{user.name}
                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                  li
                    a.dropdown-item(href='/users/logout')
                      svg.svg-inline--fa.fa-sign-out-alt.fa-w-16.icon.logout.mx-2(aria-hidden='true' data-prefix='far' data-icon='sign-out-alt' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                        path(data-v-fa0340c4='' fill='currentColor' d='M272 112v51.6h-96c-26.5 0-48 21.5-48 48v88.6c0 26.5 21.5 48 48 48h96v51.6c0 42.6 51.7 64.2 81.9 33.9l144-143.9c18.7-18.7 18.7-49.1 0-67.9l-144-144C323.8 48 272 69.3 272 112zm192 144L320 400v-99.7H176v-88.6h144V112l144 144zM96 64h84c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12H96c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h84c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12H96c-53 0-96-4s3-96-96V160c0-53 43-96 96-96z')
                      | Logout
            else
              li
                a.nav-link.active(href='/users/register') Register
              li
                a.nav-link.active(href='/users/login') Login
    .container.my-4
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content



