extends layout

block content
  h1 Login To Kids Write
  form.my-3(method='POST', action='/users/login')
    #form-group.mb-3
      i.far.fa-user.mx-2
      input.form-control(name='username' , type='text' , placeholder="Username :")
    #form-group.mb-3
      i.fas.fa-lock.mx-2
      input.form-control(name='password' , type='password' , placeholder="Password :")
    input.btn.btn-dark.me-3(type='submit',value='Submit')
    br
    br
    span Not Yet A User ? 
    a.text-decoration-none(href="/users/register") Sign Up Now
