extends layout

block content
  h1 Login
  form.my-3(method='POST', action='/users/login')
    #form-group.mb-3
      label.mb-2 Username :
      img.mx-2.mb-2(src='https://static.thenounproject.com/png/1081856-200.png' alt='name' style='height:30px')
      input.form-control(name='username' , type='text')
    #form-group.mb-3
      label.mb-2 Password 🔑 :
      input.form-control(name='password' , type='password')
    input.btn.btn-primary(type='submit',value='Submit')
