extends layout

block content
  h1 Create Your Kids Write Account
  form.my-3(method='POST', action='/users/register')
    #form-group.mb3
      i.far.fa-user.mx-2
      input.form-control.mb-3(name='name', type='text' , placeholder="Name :")
    #form-group.mb-3
      i.far.fa-envelope.mx-2
      input.form-control(name='email' type='email' , placeholder="Email : ")
    #form-group.mb-3
      i.far.fa-user.mx-2
      input.form-control(name='username' , type='text' , placeholder="Username :")
    #form-group.mb-3
      i.fas.fa-lock.mx-2
      input.form-control(name='password' , type='password' , placeholder="Password :")
    #form-group.mb-3
      i.fas.fa-lock.mx-2
      input.form-control(name='password2' , type='password' , placeholder="Confirm Password :")
    input.btn.btn-outline-info.fw-bold(type='submit',value='Submit')
    br
    br
    span Already Have An Account ? 
    a.text-decoration-none.text-info(href="/users/Login") Login Here