extends layout

block content
  h1 Register
  form.my-3(method='POST', action='/users/register')
    #form-group.mb3
      label.mb-2 Name :
      img.mx-2.mb-2(src='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/emojidex/112/bust-in-silhouette_1f464.png' alt='name' style='height:20px')
      input.form-control.mb-3(name='name', type='text')
    #form-group.mb-3
      label.mb-2 Email 📧 :
      input.form-control(name='email' type='email')
    #form-group.mb-3
      label.mb-2 Username :
      img.mx-2.mb-2(src='https://static.thenounproject.com/png/1081856-200.png' alt='name' style='height:30px')
      input.form-control(name='username' , type='text')
    #form-group.mb-3
      label.mb-2 Password 🔑 :
      input.form-control(name='password' , type='password')
    #form-group.mb-3
      label.mb-2 Confirm Password ✔️ :
      input.form-control(name='password2' , type='password')
    input.btn.btn-primary(type='submit',value='Submit')
