@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body {
  font-family: "Quicksand";
  font-weight: bolder !important;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.link {
  text-decoration: none !important;
  color: black !important;
}
.none {
  display: none !important;
}
.form-control {
  display: inline !important;
  width: 90% !important;
}
.logout {
  height: 20px;
}