@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: Montserrat;
  font-weight: bold !important;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.link {
  text-decoration: none !important;
  color: black !important;
}
.none {
  display: none !important;
}

